@charset "utf-8";

body {
	margin: 0;
  /* 全画面に背景を表示する */
  background: #EAE5E3;
}
.contents {
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* :::::: toggle button :::::: */
#navTgl:checked ~ .contents {
	transform: translateX(250px);
}

#navTgl {
	display: none;
}
label {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
}
.open {
	z-index: 2;
	width: 48px;
	height: 48px;
	background: #3B8488;
	transition: background .6s, transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before,
.open::after {
	content: "";
}
.open span,
.open::before,
.open::after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open::before {
	transform: translateY(-8px);
}
.open::after {
	transform: translateY(8px);
}
.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}
#navTgl:checked + .open {
	background: indianRed;
	transform: translateX(250px);
}
#navTgl:checked + .open span {
	transform: scaleX(0);
}
#navTgl:checked + .open::before {
	transform: rotate(45deg);
}
#navTgl:checked + .open::after {
	transform: rotate(-45deg);
}
#navTgl:checked ~ .close {
	pointer-events: auto;
	background: rgba(0,0,0,.3);
}

/* :::::: drawer menu :::::: */
.menu {
	z-index: 1;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.6);
	transform: translateX(-100%);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu h2,
.menu a {
	color: white;
}
.menu h2 {
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 0;
}
.menu .menu-main li {
	font-size: .8em;
	line-height: 1.4;
}
.menu .menu-main li {
	/* 罫線 */
	border-bottom: 1px solid rgba(255,255,255,.6);
}
.menu .menu-help {
	padding-top: 42px;
}
.menu .menu-help li {
	font-size: .8em;
	line-height: 1.4;
}

.menu a {
	display: block;
	padding: 1em 2em;
	text-decoration: inherit;
	transition: background .6s;
}
.menu a:hover {
	background: black;
}
#navTgl:checked ~ .menu {
	transform: none;
}

/* :::::: header, footer :::::: */
header,
footer {
	/* 内側への余白 */
	padding: 20px 10px 10px 15px;
	
	/* Flexbox */
	display:flex;
	/* 垂直方向の位置 */
	align-items: stretch;
	/* 水平方向の位置 */
	justify-content: space-between;
}
header .website-logo {
	margin-left: 48px;
}
header .sns-logo {
	margin: 0;
}
header {
	position: relative;
	margin-bottom: 40px;
}
footer {
	background: rgba(255,255,255,.6);
}
footer small {
	font-size: 1em;
}
footer .copyright {
	margin: 0;
	color: #553969;
	font-family: "Ubuntu Condensed", sans-serif;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: .1em;
}

/* :::::: main section :::::: */
.nemurimizu-logo {
  display:flex;
  /* 水平方向の位置 */
  justify-content: center;
}
.timeline{
  width: 600px;
  margin: 0 auto;
  padding: 60px 0;
}






/* :::::: article :::::: */
article {
	width: 100%;
	max-width: 647px;
	margin: 0 auto 100px;
	padding: 0 10px;
	box-sizing: border-box;
}

/* :::::: 保留 :::::: */
figure {
	/* 相対位置の基準となる位置要素 */
	position: relative;
	margin: 0;
	padding-bottom: 3.6em;
}
figure img {
	max-width: calc(100% - 10px);
	margin-bottom: .8em;
	padding: 5px;
	vertical-align: middle;
	background: rgba(255,255,255,.6);
}


section {
	margin: 4em 0;
}
section h2 {
	margin: 0 0 .6em;
}

figcaption {
	font-size: .8em;
}
section .btn {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 2em;
	color: white;
	background: #3B8488;
	text-align: center;
	text-decoration: inherit;
	transition: background .3s;
}
section .btn:hover {
	background: indianRed;
}
